
/* Defaults */

body {
    background-image: url('/images/bg.png'); /* Path to your image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: "Fredoka", sans-serif;
}

html,
body,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}


/* Desktop Icons */
.Desktop-Left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none; 
}

.Desktop-Left>div {
    margin: 2vh;
    text-align: center;
    cursor: pointer
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 7vh;
}
    
.icon {
    width: 100%;
    padding-bottom: 0.5em;
}
    
.icon-text {
    cursor: pointer;
    text-align: center;
}

/* Window Styling */
.window {
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: none;
    min-width: 200px;
    max-width: 650px; /* Set maximum width */
    max-height:  800px; /* Set maximum height */
    background-color: #F2ECDE;
    border: 3px solid #363531;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px #363531;
}

/*.textbox {
    width: 10vw;
}*/
    
.title-bar {
    background-color: #F2ECDE;
    padding: 5px;
    cursor: move;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 3px solid #363531;
    user-select: none;
}
    
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 6px 0px 0px;
    font-size: 20px;
    cursor: pointer;
}

.content {
    padding: 10px;
}

/* Last.fm Widget Styling */
#widget {
    width: 195px;
    position: relative;
    left: 0px;
    transition: .2s all ease;
}
    
#widget img {
    max-width: 100%;
    width: 195px;
    height: auto;
}
    
#widget p {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Message Page Styling */



.message {
    display: flex;
    align-items:center;
}

.message span{
    background-color: #D6D1C4;
    padding: 10px 15px;
    border-radius: 15px;
}

.pfp{
    border-radius: 50px;
}

.send-message {
    display: flex;
    margin-top: 20px;
}

.send-message input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #949087;
    border-radius: 5px;
}

.send-message i{
    font-size: 1.25em;
    display: flex;
    align-items:center;
    padding: 0.5em;
    padding-left: 0.75em;
}

    
/* About Me Page Styling */

#aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Projects Folder Styling */
#fileExplorerTab {
    display: inline-block;
    width: max-content;
}
    
#fileExplorerTab span {
    margin: 0.5em;
}
    
.fileExplorerRow {
    display: flex;
}
    
.fileExplorerColumn {
    padding: 5px;
    text-align: center;
    padding: 0.5em;
}
    
.fileExplorerColumn img {
height: 8vh;
}

/* Navbar Styling */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F2ECDE;
  border-top: 3px solid #363531;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar li {
    float: left;
    color: #363531;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
}

.navbar li a img {
    max-height: 16px;
}

#navbarright {
    float:right;
}
  
.navbar li a:hover:not(.active):not(#navbarright a) {
    background-color: #363531;
    user-select: none; 
}

  
.active {
    background-color: #363531;
    color: #F2ECDE;
    text-decoration: none;
    border-right: 3px solid #363531;
}

#time {
    float:right;
    padding-left: .5em;
}