
/* Defaults */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #D6D1C4 #F2ECDE;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #F2ECDE;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #D6D1C4;
    border-radius: 10px;
    border: 3px none #F2ECDE;
  }


body {
    background-image: url('/images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: "Fredoka", sans-serif;
}

button {
    font-size: 100%;
    font-family: "Fredoka", sans-serif;
}

html,
body,
ul,
ol,
p
{
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}


/* Desktop Icons */
.Desktop-Left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none; 
}

.Desktop-Left>div {
    margin: 2vh;
    text-align: center;
    cursor: pointer
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 7vh;
}
    
.icon {
    width: 100%;
    padding-bottom: 0.5em;

}
    
.icon-text {
    cursor: pointer;
    text-align: center;
}

/* Window Styling */
.window {
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: none;
    min-width: 10vw;
    max-width: 50vw; 
    max-height: 75vh; 
    background-color: #F2ECDE;
    border: 3px solid #363531;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px #363531;
}

@media screen and (max-width: 800px) {
    .window {
        max-width: 85vw;
    }
  }

/*.textbox {
    width: 10vw;
}*/

#projectsWindow {
    display: block;
}

@media screen and (max-width: 800px) {
    #projectsWindow {
        display:none;
    }
  }
    
.title-bar {
    background-color: #F2ECDE;
    padding: 5px;
    cursor: move;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 3px solid #363531;
    user-select: none;
    margin: auto;
}

.title-bar i {
    float: left;
    color: #363531;
    margin: auto;
    margin-right: .5em;
}
    
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 6px 0px 0px;
    font-size: 20px;
    cursor: pointer;
}

.content {
    padding: 10px;
    max-height: 60vh;
    overflow: auto;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
  }
  
.imgcontainer img {
    width: 100%;
}

.contentText {
    margin: 1em;
    text-align: center;
}


/* Last.fm Widget Styling */
#widget {
    width: 195px;
    position: relative;
    left: 0px;
    transition: .2s all ease;
}
    
#widget img {
    max-width: 100%;
    width: 195px;
    height: auto;
}
    
#widget p {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Message Page Styling */



.message {
    display: flex;
    align-items:center;
}

.message span{
    background-color: #363531;
    padding: 10px 15px;
    border-radius: 15px;
    color: #ddd;
}

.pfp{
    border-radius: 50px;
}

.send-message {
    display: flex;
    margin-top: 20px;
}

.send-message input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #949087;
    border-radius: 5px;
}

.send-message i{
    font-size: 1.25em;
    display: flex;
    align-items:center;
    padding: 0.5em;
    padding-left: 0.75em;
}

    
/* About Me Page Styling */

#aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:1em;

}

.aboutmeImage {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.aboutmeText {
    max-width: 500px;
}

@media (max-width: 1500px) {
    #aboutme {
        flex-direction: column;
    }

    .aboutmeImage {
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.aboutmeText button {
    background-color: #363531;
    border: none;
    color: #D6D1C4;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
    border-radius: 10px;
}

.aboutmeText button:hover{
        background-color: #949087;
        color: white;
        cursor:pointer;
}

/* Projects Folder Styling */
#fileExplorerTab {
    display: inline-block;
    width: max-content;
}
    
#fileExplorerTab span {
    margin: 0.5em;
}
    
.fileExplorerRow {
    display: flex;
}
    
.fileExplorerColumn {
    padding: 5px;
    text-align: center;
    padding: 0.5em;
}
    
.fileExplorerColumn img {
height: 8vh;
cursor: pointer;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 3;
    font-family: arial;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
}

.gallery-item figure {
    margin: 0;
    position: relative;
}

.gallery-item img {
    width: 100%;
}
  
@media screen and (max-width: 500px) {
    .gallery {
      column-count: 1;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .gallery {
      column-count: 2;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .gallery {
      column-count: 3;
    }
}
  


.navbar {
    background-color: #F2ECDE;
    border-top: 3px solid #363531;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    
}

#navbarright {
    position: absolute;
    right: 0;
    padding-top: .8em;
    padding-bottom: .5em;
    padding-right: 1.5em;
    text-decoration: none;
}

#time {
    float:right;
    padding-left: 1em;
}

@media screen and (max-width: 500px) {
    #navbarright {
      display:none;
    }
}

#navbarright a {
    color:#363531;
}

.navbarMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: left;
    color: #363531;
}

.navbarMenu li a {
    padding-left: 1em;
    padding-right: 0.5em;

}

.navbar li a img {
    max-height: 20px;
    padding-top: .8em;
    padding-bottom: .5em;
}

.dropbtn {
    background-color: #363531;
    color: #F2ECDE;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left:20px;
    padding-right:20px;
    border: none;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 46px;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-bottom: 3px solid #363531;
}

.dropup-content a {
    color:#363531;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

  .dropup-content a:hover {background-color: #ddd}

  .dropup:hover .dropup-content {
    display: block;
  }

  .dropup:hover .dropbtn {
    background-color: #949087;
    color: white;
  }

